body{font-family:Arial;background:#f1f2f4;margin:0}
header{background:#131921;color:#fff;padding:15px;text-align:center}
#products{display:grid;grid-template-columns:repeat(auto-fill,minmax(200px,1fr));gap:15px;padding:20px}
.card{background:#fff;padding:10px;border-radius:10px;text-align:center}
button{background:#00a650;color:#fff;border:none;padding:8px;width:100%}